
/* 字体1 钉钉字体 */
@font-face {
    font-family: "JinBuTi";
    src: url("fonts/DingTalk JinBuTi.ttf");
  }
/* 字体2 君威字体 */
@font-face {
    font-family: "junwei";
    src: url("fonts/junweiW2.ttf");
  }

/* 全局样式 */
*{
    margin: 0;
    padding: 0;
}

.bottom {
    background: linear-gradient(45deg,#eaebed,rgb(192, 230, 247)); 
    width: 100%;
    height: 100vh;
}

.name_p_1{
  margin-top: 25vh;
  font-family:"junwei";
  font-size: 28px;
  word-wrap:break-word;
  color:orange;
}

.name_p_2{
  margin-top: 0;
  margin-left: 7vh;
  font-family:"JinBuTi";
  font-size: 100px;
  width: 60vh;
  word-wrap: normal;
  color: black;
}

.name_p_3{
  margin-left: 7vh;
  font-family:"junwei";
  width: 40vh;
  font-size: 20px;
  word-wrap:normal;
  color: rgb(121, 120, 120);
}

